/* hero section  */
.hero {
  background-image: url("../images/jjk-jujutsu-kaisen.gif");
  height: 400px;
  background-size: cover;
  background-position: 50% 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page-introduction {
  display: flex;
  justify-content: center;
  align-items: left;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1xp solid black;
}
